
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {

    /* sunset theme from color hunt */

    --sunset-yellow: #EBE76C;
    --sunset-orange: #F0B86E;
    --sunset-peach: #ED7B7B;
    --sunset-purple: #836096;
    
    /* beach theme from color hunt */

    --beach-purple: #793FDF;
    --beach-blue: #7091F5;
    --beach-mint: #97FFF4;
    --beach-yellow: #FFFD8C;

    /* midnight theme from color hunt */

    --midnight-navy-dark: #313866;
    --midnight-navy: #504099;
    --midnight-purple: #974EC3;
    --midnight-pink: #FE7BE5;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

	background-color: var(--midnight-navy-dark);

} a {

	color: inherit;
	text-decoration: none;

}

/* this handles the scrollbar */

::-webkit-scrollbar{
	display: none;
}

/* this section handles the styling for the nav bar */

nav {

	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 10px 2vh;

	background-color: var(--beach-purple);
 
	font-family: 'Archivo Black', sans-serif;

	border-bottom: 5px solid black;

}

.brand-title {

	width: 400px;
	height: auto;

}

.links {

	margin-left: 3vh;
	font-size: 30px;
	color: #fff;

}

.nav-link:hover {

	color: var(--sunset-peach);
	text-decoration: underline;

}

.account-actions {

	margin-left: auto;

}

.login {

    color: #fff;
    font-size: 25px;
    margin-right: 10px;

} .login:hover {

	color: var(--sunset-orange);

}

.sign-up {

    padding: 9px 25px;
    background-color: var(--beach-yellow);
    border: black solid 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
	font-family: 'Archivo Black', sans-serif;
    box-shadow: 5px 5px;
    font-size: 25px;

    margin-right: 10px;

} .sign-up:hover {

	background-color: var(--sunset-orange);
	box-shadow: 3px 3px;

}

/* main body of the site */

.hero {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 95vh;
	background-image: url(./content/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

} .hero h1 {

	font-family: 'Silkscreen', cursive;
	font-size: 6em;
	color: #fff;

} .hero p {

	color: #fff;
	font-size: 2em;
	font-family: 'Silkscreen', cursive;

}

.about {
	display: flex;
	flex-direction: column;
	font-family: 'Archivo Black', sans-serif;

	border-top: 5px solid black;
	border-bottom: 5px solid black;

	background-image: linear-gradient(

		var(--midnight-navy),
		var(--midnight-purple)

	);

}

.about-card {
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 50vh;
	padding: 0 4vh;

} .about-card h2 {

	font-size: 4rem;
	color: #fff;


} .about-card p {

	font-size: 20px;
	color: #fff;

} .about-card button {

	padding: 9px 25px;
    background-color: var(--beach-yellow);
    border: black solid 1px;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
	font-family: 'Archivo Black', sans-serif;
    box-shadow: 5px 5px;
    font-size: 25px;

	margin-top: 10px;


}

.left {

	align-items: start;

}
.right {

	align-items: end;

}

.border {

	

}

/* handle the ending stuff */

.shop {

	height: 100vh;

}